@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

 }

body {
    margin: 0%;
    height: fit-content;
    background-color: rgba(4, 4, 42, 0.803);
}
.home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 1px;

}
.sidepanel{
    padding-top: 50px;
    padding-left: 39px;
    
}

.sidepanel h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
    width: 10rem;
    color: white;
}
.space{
    height: 60%;
}
.settings{
    margin-right: -1px;
}
.welcomes{
    display: block;
    background-color: #5277d44b;
    justify-content: space-between;
    margin: 5px;
    width: 85%;
    height: 600px;
    border-radius: 13px;
    
    border-color: black;

}
.cta-button {
    text-decoration: none;
    background: #fff;
    color: black;
    padding:50px
    margin: 50px;
    border-radius: 10px;
}

/* Style for cta-button */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color, you can change it to any desired color */
    color: #fff; /* White color for text */
    text-decoration: none; /* Remove default underline */
    border-radius: 5px; /* Rounded corners */
}

/* Style for post */
.post {
    margin-bottom: 20px;
}

/* Style for post title */
.post header h1 {
    color: #333; /* Dark color for title */
}

/* Style for post body */
.post .body {
    color: #666; /* Slightly lighter color for body text */
}

 /* Style for hr */
hr {
     border: 0;
     border-top: 1px solid #ccc; /* Gray color for horizontal rule */
     margin: 20px 0; /* Add space above and below hr */
}
.rightpanel {
    display: inline-flex;
    place-items: center;
    height: 100%;
    width: 400px;
    color: aliceblue;
    border-radius: 15px;

}
.usr {
    padding-top: 18px
}
.calendar {

    height: 250px;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(124, 108, 103, 0.199);
    color: whitesmoke;
    text-shadow: solid 3px rgb(97, 95, 95);
    height: 90px;
    width: 100%;
    margin-right: 0px;
    border-bottom:solid 2px rgba(133, 121, 154, 0.829);
}

.username {
    width: 30%;
}
.username .useraccount {
    display: block;
}
.username .useraccount .sub-items {
	background: #fff;
	text-decoration: none;
	color: whitesmoke;
	font: 1em;
}
.username .useraccount .sub-items a{
	padding-left: 80px;
}
