@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

 }

body {
    margin: 0%;
    height: fit-content;
    background-color: rgba(4, 4, 42, 0.803);
}
.home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 1px;

}
.sidepanel{
    padding-top: 50px;
    padding-left: 39px;
    
}

.sidepanel h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
    width: 10rem;
    color: white;
}
.space{
    height: 60%;
}
.settings{
    margin-right: -1px;
}
.welcomes{
    display: flex;
    background-color: rgba(205, 178, 211, 0.971);
    justify-content: space-between;
    margin: 5px;
    width: 85%;
    height: 600px;
    border-radius: 13px;
    
    border-color: black;

}
.rightpanel {
    display: inline-flex;
    place-items: center;
    height: 100%;
    width: 400px;
    color: aliceblue;
    border-radius: 15px;

}
.usr {
    padding-top: 18px
}
.calendar {

    height: 250px;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(124, 108, 103, 0.199);
    color: whitesmoke;
    text-shadow: solid 3px rgb(97, 95, 95);
    height: 90px;
    width: 100%;
    margin-right: 0px;
    border-bottom:solid 2px rgba(133, 121, 154, 0.829);
}

.username {
    width: 30%;
}
.username .useraccount {
    display: block;
.username .useraccount .sub-items {
	background: #fff;
	text-decoration: none;
	color: whitesmoke;
	font: 1em;
}
.username .useraccount .sub-items a{
	padding-left: 80px;

