<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activista</title>
    <link rel="icon" href='/images/logo-firebase.svg'>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/887c53e8cf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h2 class="logo"><span><ion-icon name="logo-firebase"></ion-icon></span>
            <a href="./home" class="logo">ACTIvista</a></h2>
        <nav class="navigation">
            <input type="text" class="search" placeholder="Search">
            <a href="#">
                <ion-icon name="notifications-outline" size="large"></ion-icon>
            </a>
            <a href="#" class="streak"><ion-icon name="flame-sharp" size="large"></ion-icon></a>
            <button class="btn-user">
                <ion-icon name="person-circle" size="large"></ion-icon>
            </button>
        </nav>
    </header>
    <!--  <div class="nav">            
        <div class="user">
            <div class="welcome"><h2 class="logo"><span><ion-icon name="logo-firebase"></ion-icon></span>ACTIvista</h2></div>
            <div class="username">
                <input type="text" class="search">
            </div>
	    <div class="notif"><h4><img src="/images/1448809128_bell_44444.ico" alt=""></h4><div></div></div>
	    <div class="streak"><h4></h4></div>
	    <div class="useraccount"><a href='#'><img src="/images/account_avatar_face_man_people_profile_user_icon_123197.ico" alt=""></a>
		    <div class='sub-menu'>
			    <a href='#' class='sub-items'>Profile</a>
			    <a href='#' class='sub-items'>somelink</a>
			    <a href='#' class='sub-items'>logout</a>

		    </div>
	    </div>
    </div> -->
       
    
    <div class="home">
        <div class="leftpanel">
            <div class="sp"></div>
            <div class="dashboard">
                <ul class="options">
                    <i><h2>Dashboard</h2>
                    </i>
                    <i ><h2>Tasks</h2></i>
                    <i><h2>Projects</h2></i>
                    <i><h2>Workspaces</h2></i>
                    <i><h2>Settings</h2></i>
                </ul>
                
            </div>
        </div>
        <div class="center-panel">
            <div class="sp"></div>
            <div class="tasks">
{% block content %}
<form method="post">
	<div class="input-box">
		<!-- <label for="title">Title</label> -->
<input name="title" placeholder="Title" class="title"  value="{{ request.form['title'] }}" required>
	</div>
	<div class="input-box">
<textarea name="body" placeholder="Description">{{ request.form['body'] }}</textarea>
	</div>
<input class="cta-button" type="submit" value="Save">
</form>
{% endblock %} 

            </div>
        </div>
        <div class="rightpanel">
            <div class="sp"></div>
            <div class="calendar">
                <p>Calendar</p>
                <div class="days">
                    <div class="today"><h4>Wed, Feb 21</h4></div>
                    <div class="weekdays">
                        <div class="sun">S
                            <div class="dt">
                                <ul>
                                    <i>28</i>
                                    <i>4</i>
                                    <i>11</i>
                                    <i>18</i>
                                    <i>25</i>
                                </ul>
                            </div>
                        </div>
                        <div class="mon">M
                            <div class="dt">
                                <ul>
                                    <i>29</i>
                                    <i>5</i>
                                    <i>12</i>
                                    <i>19</i>
                                    <i>26</i>
                                </ul>
                            </div>
                        </div>
                        <div class="tue">T
                            <div class="dt">
                                <ul>
                                    <i>30</i>
                                    <i>6</i>
                                    <i>13</i>
                                    <i>20</i>
                                    <i>27</i>
                                </ul>
                            </div>
                        </div>
                        <div class="wen">W
                            <div class="dt">
                                <ul>
                                    <i>31</i>
                                    <i>7</i>
                                    <i>14</i>
                                    <i>21</i>
                                    <i>28</i>
                                </ul>
                            </div>
                        </div>
                        <div class="thur">T
                            <div class="dt">
                                <ul>
                                    <i>1</i>
                                    <i>8</i>
                                    <i>15</i>
                                    <i>22</i>
                                    <i>29</i>
                                </ul>
                            </div>
                        </div>
                        <div class="fri">F
                            <div class="dt">
                                <ul>
                                    <i>2</i>
                                    <i>9</i>
                                    <i>16</i>
                                    <i>23</i>
                                    <i>1</i>
                                </ul>
                            </div>
                        </div>
                        <div class="sat">S
                            <div class="dt">
                                <ul>
                                    <i>3</i>
                                    <i>10</i>
                                    <i>17</i>
                                    <i>24</i>
                                    <i>2</i>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
        <div class="news">
           <p> upcoming events</p>
           <div>there is nothing here!</div>
        </div>

        </div>
    </div>
    <script src="/static/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
