<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activista</title>
    <link rel="icon" href='/images/logo-firebase.svg'>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="nav">            
        <div class="user">
            <div class="welcome"><h2 class="logo"><span><ion-icon name="logo-firebase"></ion-icon></span>ACTIvista</h2></div>
            <div class="username"></div>
	    <div class="notif"><h4>notifications</h4><div>{{ notifications }}</div></div>
	    <div class="streak"><h4>streak {{ streaks }}</h4></div>
	    <div class="useraccount"><a href='#'> {{ user }}</a>
		    <div class='sub-menu'>
			    <a href='#' class='sub-items'>Profile</a>
			    <a href='#' class='sub-items'>somelink</a>
			    <a href='#' class='sub-items'>logout</a>

		    </div>
	    </div>
    </div>
       
    
    <div class="home">
        <div class="sidepanel">
            <div class="dashboard"><h2>dashboard</h2></div>
            <div class="activity"><h2>activity</h2></div>
            <div class="space"></div>
            <div class="settings"><h2>settings</h2></div>
        </div>
        <div class="welcomes">

        
    </div>
    <div class="rightpanel">
        <div class="calendar"><h4>Calendar</h4></div>
       </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
    <script>
	/*$(document).ready(function () {
		alert("good to go");
		$("#useraccount").click(function () {
			$(this).toggle(10);
		});
	});*/
	</script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

